@media (max-width: 800px) {
    .main-container{
        flex-direction: column;
    }
    .cars_container{
        flex-direction: column;
        margin:10px;
    }
    .filter_cars{
        min-width: auto;
    }
    .gearcontainer{
        text-align: center;
    }
    .cars_list{
        margin-left: 0px;
    }
    .carlist-header{
        margin-top: 10px;
    }
    .cars{
        justify-content: center;
    }
    .pagination{
        justify-content: center;
    }
    .pageinfo{
        display: none;
    }
    .filter-options{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .page-btn.btn {
        margin:0px
    }
}