.cars_list{
    flex:1;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 0px 150px 0px 150px;
}

.carlist-header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px;
    padding: 10px;
    border: 1px solid brown;
}

.cars{
    display: flex;
    margin: 20px 20px 0px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.car-details{
    display: inline-flex;
    flex:1;
    flex-direction: column;
    border: 1px solid orange;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
    padding: 10px;
}

.car-feature{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.pagination{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

.active-btn {
    background: var(--clr-primary-1);
    color: var(--clr-white);
}