@media (max-width: 800px) {
    .car-helpline-top{
        width: 100%;
    }
    .car-header-top{
        width: 100%;
    }
    .main-container{
        flex-direction: column;
    }
    .cars_container{
        flex-direction: column;
        margin:10px;
    }
    .filter_cars{
        margin:0px 37px 0px 47px;
    }
    .gearcontainer{
        text-align: center;
    }
    .cars_list{
        margin-left: 0px;
    }
    .carlist-header{
        margin:0px 37px 0px 47px;
    }
    .cars{
        justify-content: center;
    }
    .car-title{
        text-align: center;
    }
    .pagination{
        justify-content: center;
    }
    .pageinfo{
        display: none;
    }
    .filter-options{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .page-btn.btn {
        margin:0px
    }
    .helpline{
        padding:10px;
    }
    .car-header{
        padding:10px
    }
    .nav-menu{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .footer-list{
        flex-direction: column;
        justify-content: center;
    }
    .footer-list ul{
        margin-left: auto
    }
    .footer_menu{
        width: auto;
    }
}