.main-container{
    align-items: center;
    justify-content: center;
    margin: 0px 220px 0px 220px;
}

.cars_container{
    display: flex;
    justify-content: start;
}

.filter_cars{
    min-width: 300px;
    border: 1px solid blue;
}

